.banner {
  position: relative;
  background: rgb(243, 246, 255);
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-container {
  padding-top: 1.8px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 360.5px;
  object-fit: cover;
}

.banner .col-md-3,
.banner .col-md-6 {
  margin-bottom: 30px;
}

.banner .navbar {
  padding: 0;
  height: 100%;
  max-height: 365px;
  overflow: hidden;
  background: #ffffff !important;
}

.banner .navbar-nav {
  width: 100%;
  padding: 15px 0;
}

.banner .navbar li {
  padding: 0 30px;
  border-bottom: 1px solid #f3f6ff;
}

.banner .navbar li:last-child {
  border-bottom: none;
}

.banner .navbar a {
  color: #353535;
}
.banner .navbar a:hover {
  color: #ff6f61;
}

.banner .navbar i {
  color: #ff6f61;
  width: 20px;
  text-align: center;
  margin-right: 8px;
}

.banner .navbar a:hover i {
  color: #353535;
}

.banner-slider {
  position: relative;
  width: 100%;
}

.banner-slider .banner-slider-item {
  position: relative;
}

.banner-slider .banner-slider-caption {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 60%;
  height: 60%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 111, 97, 0.7);
  transition: all 0.3s;
  z-index: 1;
}

.banner-slider .banner-slider-caption p {
  text-align: center;
  color: #ffffff;
  font-size: 22px;
  font-family: "Source Code Pro", monospace;
  font-weight: 700;
}

.banner-slider .banner-slider-caption .btn {
  border-color: #ffffff;
}

.banner-slider .banner-slider-caption .btn i {
  margin-right: 5px;
}

.banner .banner-img {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
  max-height: 400px;
  overflow: hidden;
  background: #ffffff;
}

.banner .side-img {
  padding-top: 1.8px;
}

.banner .img-item {
  position: relative;
  width: 100%;
  height: 50%;
  overflow: hidden;
}

.banner .img-item img {
  width: 100%;
  height: 178px;
  object-fit: cover;
}

.banner .img-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background: rgba(255, 111, 97, 0.7);
  transition: all 0.3s;
  opacity: 0;
}

.banner .img-text:hover {
  opacity: 1;
}

.banner .img-text p {
  margin: 0 0 50px 0;
  padding: 15px;
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  transition: all 0.3s;
}

.banner .img-text:hover p {
  margin: 0;
}

.bottom-bar {
  padding: 15px 0;
  background: #131921;
}

.bottom-bar .logo {
  text-align: left;
  overflow: hidden;
  margin-left: 18px;
}

.bottom-bar .logo a img {
  max-height: 60px;
}

.bottom-bar .search {
  width: 100%;
}

.bottom-bar .search input[type=text] {
  width: 100%;
  height: 40px;
  padding: 0 15px;
  color: #666666;
  border: 1px solid #d8d8d8;
  border-radius: 4px;
}

.bottom-bar .search button {
  position: absolute;
  width: 40px;
  height: 38px;
  top: 1px;
  right: 16px;
  padding: 0 15px;
  border: none;
  background: none;
  color: #FF6F61;
  border-radius: 0 2px 2px 0;
}

.bottom-bar .search button:hover {
  background: #FF6F61;
  color: #ffffff;
}

.bottom-bar .user {
  font-size: 0;
  text-align: right;
}

.bottom-bar .user .wishlist {
  margin-right: 15px;
}

.bottom-bar .user .cart i,
.bottom-bar .user .wishlist i {
  color: #FF6F61;
}

.bottom-bar .user .cart span,
.bottom-bar .user .wishlist span {
  color: #FF6F61;
  font-size: 15px;
}

.bottom-bar .user .cart:hover i,
.bottom-bar .user .wishlist:hover i,
.bottom-bar .user .cart:hover span,
.bottom-bar .user .wishlist:hover span {
  color: #ffffff;
}

@media (min-width: 768px) {
  .bottom-bar {
      max-height: 90px;
  }
}

@media (max-width: 767.98px) {
  .bottom-bar .logo,
  .bottom-bar .search,
  .bottom-bar .user {
      text-align: center;
      margin-bottom: 15px;
  }
  
  .bottom-bar .user {
      margin-bottom: 0;
  }
}
